<div class="container mt-3">
    <br>
    <div>
        <h2>
            Liste des candidats
        </h2>
    </div>
    <br>
    <form class="d-flex">
        <label class="fw-bold "> Recherche par Nom : </label>
        <input class="form-control me-2" #nom name="searchText" [(ngModel)]="searchText">
    </form>
    <br>
    <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let candidat of candidats | searchFilter: searchText; index as i">
        <div class="card mt-3" style="width:350px">
            <img class="card-img-top" src="../../assets/images/img_avatar1.png" alt="Card image" style="width:100%">
            <div class="card-body">
            <h4 class="card-title">{{candidat.nom}} {{candidat.prenom}}</h4>
            <p class="card-text">
                <label class="fw-bold "> Email : </label> {{candidat.email}} <br>
                <label class="fw-bold "> Téléphone : </label> {{candidat.telephone}} <br>
                <label class="fw-bold "> Adresse Postale : </label> {{candidat.adressePostale}} <br>
                <label class="fw-bold "> Poste : </label> {{candidat.posteCandidat}} <br>
                <label class="fw-bold "> Technologie : </label> {{candidat.technologie}} <br>
                <label class="fw-bold "> Enregistré le : </label> {{candidat.dateEnregistrement | date:'dd/MM/yyyy'}}
            </p>
            <a href="#" class="btn btn-primary me-3" [routerLink]="['/updateCandidat',candidat.idCandidat]">Modifier</a> 
            <a href="#" class="btn btn-danger" (click)="deleteCandidat(candidat)">Supprimer</a>
            </div>
        </div>
        </div>
    </div>
</div>